
:root{
    --colorBlue: #1852f2;
    --policePremiertitre: arial;
    --policeParagraphere: calibri;
    --tailleParagraphe:1.1em;

}
*{
    padding: 0;
    margin: 0;
}

input{
    
}

body{
    background-color: #F0F2F5;
}

main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    height: 100vh;
}

section.titre{
    /* border: 1px solid black; */
}

section.titre h2{
    opacity: 0.5;
    font-size: 1.0em;
}

section.titre h1{
    font-size: 4em;
    /* text-align: center; */
    color: var(--colorBlue);
    font-family: var(--policePremiertitre);
}


section.formulaire form{
    background-color: #fff;
    margin: 30px 0;
    height: 55vh;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 10px 10px 25px #dcdcdc;
}


div.input p input{
    width: 95%;
    height: 50px;
    margin: 10px 0;
    padding: 5px;
    border-radius: 10px;
    outline-color:var(--colorBlue);
 
   font-size: 1.5em;
   border-color: rgba(0, 0, 0, 0.2);
    
}

div.input p input:focus{
    box-shadow:1px 1px 5px  #6c9cdb ;
   }


#seConnecter{
    background-color:var(--colorBlue);
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
}

#mdp{
    
    text-decoration: none;
    /* border: 1px solid black; */
}

.mpd{
    text-align: center;
    margin: 10px 0;
    /* border: 1px solid black; */
}

hr{
    margin: 30px 0;
}

#Compte{
    background-color: #42b72a;
    width: 80%;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border-radius: 10px;
    border: none;

}


.compte{
    text-align: center;
    margin: auto;
   
    /* border: 1px solid black; */
}


div.page{
    text-align: center;
}

div.page a{
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
}



@media screen and (max-width:800px){
    main{
        flex-direction: column;
    }

    section.formulaire form{
        height: 60vh;
    }

    
    div.input p input{
        font-size: 1.2em;
    }


    div.input p input{
        font-size: 1.1em;
    }

    section.titre h2{
        display: none;
    }

    section.titre h1{
        font-size: 3em;
    }

    

}
